#drum-machine {
   margin: auto;
    width: 100%;
    padding: 10px;
}
#display {
  background-color: #002310;
 margin: auto;
    width: 50%;
    border: 3px solid #66ffad;
    padding: 10px;
    color: #e5d0ed;
}

#view {
    background-color: #002310;
 margin: auto;
    width: 50%;
    height: 50%;
    border: 3px solid #66ffad;
    padding: 1px;
}
.drum-pad {
  width: 30%;
  height: 180px;
  background-color: #89ffc0;
  border-radius: 16px;
  border: solid;
  border-color: #e5d0ed;
  font-family: Lucida Console;
  font-size: 40px;
  color: #002310;
  display: inline-block;
}
.drum-pad:active {
  color: red;
  background-color: yellow;
}
